body{
    background-image: url(/img/fondoPAGE.png);
    background-position: center;
    margin: auto;
    background-repeat: no-repeat;
    
}
header h1{
    text-align: center;
}
h3{
    text-align: center;
    color: brown;
}
div{
    margin: auto;
}
.form-register{
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 90px;
    border-radius: 4px;
    font-family: 'calibri';
    
}
.controls{
    width: 75%;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 5px;
}
.imgbanner{
    float: right;/*flote a la derecha*/
    /*border-radius: 50%;*/
    border:#c82033 2px solid;
    width: 120%;
    max-height: 400px;
    max-width: 400px;
    
}
header{
    background-color: bisque;
    width: 60%;
    height: 45%;
    margin: auto;
    text-align: center;
}
section{
    margin: 1.5em;
    padding: 1.5em;
    overflow: hidden;
    max-width: 690px;

}
.bottom{
    width: 75%;
    padding: 5px;
    
}
.cuerpo{
    width: 50%;
    margin: 0 auto;
    display: flex;
    
}
ul{
    border: #c82033 solid;
    text-align: center;
    text-decoration: none;
}